### Medium Q1 — Print Statement
Use a single `print()` statement with `\n` to print:

Name: Ali  
Course: Python  
Level: Medium

In [ ]:
# Medium Q1 — Print Statement
print("Name: Ali\nCourse: Python\nLevel: Medium")

### Medium Q2 — Input Statement
Ask the user for their city and country and print them in the format:  
`City - Country`

In [ ]:
# Medium Q2 — Input Statement
city = input("Enter city: ")
country = input("Enter country: ")
print(city + " - " + country)

### Medium Q3 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a list `marks` with values 80, 85, 90 and print each value on a new line.

In [ ]:
# Medium Q3 — Variables (int, string, boolean, float, list, tuple, dict, set)
marks = [80, 85, 90]
for m in marks:
    print(m)

### Medium Q4 — Type Casting
You have the list of strings `["1", "2", "3"]`.  
Convert each value to int and print the new list.

In [ ]:
# Medium Q4 — Type Casting
str_list = ["1", "2", "3"]
int_list = []
for s in str_list:
    int_list.append(int(s))
print(int_list)

### Medium Q5 — Declaration
Declare a dictionary `student` with keys `"name"` and `"age"`.  
Assign any values and print the dictionary.

In [ ]:
# Medium Q5 — Declaration
student = dict(name="Rahul", age=21)
print(student)

### Medium Q6 — Print Statement
Print the sentence:  
`Python programming is fun!`  
using an f-string (formatted string literal).

In [ ]:
# Medium Q6 — Print Statement
message = "Python programming is fun!"
print(f"{message}")

### Medium Q7 — Input Statement
Ask the user for their first name and last name.  
Then print: `Full Name: <first> <last>`.

In [ ]:
# Medium Q7 — Input Statement
first = input("Enter first name: ")
last = input("Enter last name: ")
print("Full Name:", first, last)

### Medium Q8 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a tuple `subjects` with `"Maths"`, `"Science"`, `"English"` and print the second subject.

In [ ]:
# Medium Q8 — Variables (int, string, boolean, float, list, tuple, dict, set)
subjects = ("Maths", "Science", "English")
print(subjects[1])

### Medium Q9 — Type Casting
Take an input from the user for a number.  
Convert it to `int` and `float` and print both values.

In [ ]:
# Medium Q9 — Type Casting
value = input("Enter a number: ")
num_int = int(value)
num_float = float(value)
print(num_int, num_float)

### Medium Q10 — Declaration
Declare variables `x = 5` and `y = 2.5`.  
Print their sum.

In [ ]:
# Medium Q10 — Declaration
x = 5
y = 2.5
print(x + y)

### Medium Q11 — Print Statement
Use a single `print()` statement with `\n` to print:

Name: Ali  
Course: Python  
Level: Medium

In [ ]:
# Medium Q11 — Print Statement
print("Name: Ali\nCourse: Python\nLevel: Medium")

### Medium Q12 — Input Statement
Ask the user for their city and country and print them in the format:  
`City - Country`

In [ ]:
# Medium Q12 — Input Statement
city = input("Enter city: ")
country = input("Enter country: ")
print(city + " - " + country)

### Medium Q13 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a list `marks` with values 80, 85, 90 and print each value on a new line.

In [ ]:
# Medium Q13 — Variables (int, string, boolean, float, list, tuple, dict, set)
marks = [80, 85, 90]
for m in marks:
    print(m)

### Medium Q14 — Type Casting
You have the list of strings `["1", "2", "3"]`.  
Convert each value to int and print the new list.

In [ ]:
# Medium Q14 — Type Casting
str_list = ["1", "2", "3"]
int_list = []
for s in str_list:
    int_list.append(int(s))
print(int_list)

### Medium Q15 — Declaration
Declare a dictionary `student` with keys `"name"` and `"age"`.  
Assign any values and print the dictionary.

In [ ]:
# Medium Q15 — Declaration
student = dict(name="Rahul", age=21)
print(student)

### Medium Q16 — Print Statement
Print the sentence:  
`Python programming is fun!`  
using an f-string (formatted string literal).

In [ ]:
# Medium Q16 — Print Statement
message = "Python programming is fun!"
print(f"{message}")

### Medium Q17 — Input Statement
Ask the user for their first name and last name.  
Then print: `Full Name: <first> <last>`.

In [ ]:
# Medium Q17 — Input Statement
first = input("Enter first name: ")
last = input("Enter last name: ")
print("Full Name:", first, last)

### Medium Q18 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a tuple `subjects` with `"Maths"`, `"Science"`, `"English"` and print the second subject.

In [ ]:
# Medium Q18 — Variables (int, string, boolean, float, list, tuple, dict, set)
subjects = ("Maths", "Science", "English")
print(subjects[1])

### Medium Q19 — Type Casting
Take an input from the user for a number.  
Convert it to `int` and `float` and print both values.

In [ ]:
# Medium Q19 — Type Casting
value = input("Enter a number: ")
num_int = int(value)
num_float = float(value)
print(num_int, num_float)

### Medium Q20 — Declaration
Declare variables `x = 5` and `y = 2.5`.  
Print their sum.

In [ ]:
# Medium Q20 — Declaration
x = 5
y = 2.5
print(x + y)

### Medium Q21 — Print Statement
Use a single `print()` statement with `\n` to print:

Name: Ali  
Course: Python  
Level: Medium

In [ ]:
# Medium Q21 — Print Statement
print("Name: Ali\nCourse: Python\nLevel: Medium")

### Medium Q22 — Input Statement
Ask the user for their city and country and print them in the format:  
`City - Country`

In [ ]:
# Medium Q22 — Input Statement
city = input("Enter city: ")
country = input("Enter country: ")
print(city + " - " + country)

### Medium Q23 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a list `marks` with values 80, 85, 90 and print each value on a new line.

In [ ]:
# Medium Q23 — Variables (int, string, boolean, float, list, tuple, dict, set)
marks = [80, 85, 90]
for m in marks:
    print(m)

### Medium Q24 — Type Casting
You have the list of strings `["1", "2", "3"]`.  
Convert each value to int and print the new list.

In [ ]:
# Medium Q24 — Type Casting
str_list = ["1", "2", "3"]
int_list = []
for s in str_list:
    int_list.append(int(s))
print(int_list)

### Medium Q25 — Declaration
Declare a dictionary `student` with keys `"name"` and `"age"`.  
Assign any values and print the dictionary.

In [ ]:
# Medium Q25 — Declaration
student = dict(name="Rahul", age=21)
print(student)

### Medium Q26 — Print Statement
Print the sentence:  
`Python programming is fun!`  
using an f-string (formatted string literal).

In [ ]:
# Medium Q26 — Print Statement
message = "Python programming is fun!"
print(f"{message}")

### Medium Q27 — Input Statement
Ask the user for their first name and last name.  
Then print: `Full Name: <first> <last>`.

In [ ]:
# Medium Q27 — Input Statement
first = input("Enter first name: ")
last = input("Enter last name: ")
print("Full Name:", first, last)

### Medium Q28 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a tuple `subjects` with `"Maths"`, `"Science"`, `"English"` and print the second subject.

In [ ]:
# Medium Q28 — Variables (int, string, boolean, float, list, tuple, dict, set)
subjects = ("Maths", "Science", "English")
print(subjects[1])

### Medium Q29 — Type Casting
Take an input from the user for a number.  
Convert it to `int` and `float` and print both values.

In [ ]:
# Medium Q29 — Type Casting
value = input("Enter a number: ")
num_int = int(value)
num_float = float(value)
print(num_int, num_float)

### Medium Q30 — Declaration
Declare variables `x = 5` and `y = 2.5`.  
Print their sum.

In [ ]:
# Medium Q30 — Declaration
x = 5
y = 2.5
print(x + y)

### Medium Q31 — Print Statement
Use a single `print()` statement with `\n` to print:

Name: Ali  
Course: Python  
Level: Medium

In [ ]:
# Medium Q31 — Print Statement
print("Name: Ali\nCourse: Python\nLevel: Medium")

### Medium Q32 — Input Statement
Ask the user for their city and country and print them in the format:  
`City - Country`

In [ ]:
# Medium Q32 — Input Statement
city = input("Enter city: ")
country = input("Enter country: ")
print(city + " - " + country)

### Medium Q33 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a list `marks` with values 80, 85, 90 and print each value on a new line.

In [ ]:
# Medium Q33 — Variables (int, string, boolean, float, list, tuple, dict, set)
marks = [80, 85, 90]
for m in marks:
    print(m)

### Medium Q34 — Type Casting
You have the list of strings `["1", "2", "3"]`.  
Convert each value to int and print the new list.

In [ ]:
# Medium Q34 — Type Casting
str_list = ["1", "2", "3"]
int_list = []
for s in str_list:
    int_list.append(int(s))
print(int_list)

### Medium Q35 — Declaration
Declare a dictionary `student` with keys `"name"` and `"age"`.  
Assign any values and print the dictionary.

In [ ]:
# Medium Q35 — Declaration
student = dict(name="Rahul", age=21)
print(student)

### Medium Q36 — Print Statement
Print the sentence:  
`Python programming is fun!`  
using an f-string (formatted string literal).

In [ ]:
# Medium Q36 — Print Statement
message = "Python programming is fun!"
print(f"{message}")

### Medium Q37 — Input Statement
Ask the user for their first name and last name.  
Then print: `Full Name: <first> <last>`.

In [ ]:
# Medium Q37 — Input Statement
first = input("Enter first name: ")
last = input("Enter last name: ")
print("Full Name:", first, last)

### Medium Q38 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a tuple `subjects` with `"Maths"`, `"Science"`, `"English"` and print the second subject.

In [ ]:
# Medium Q38 — Variables (int, string, boolean, float, list, tuple, dict, set)
subjects = ("Maths", "Science", "English")
print(subjects[1])

### Medium Q39 — Type Casting
Take an input from the user for a number.  
Convert it to `int` and `float` and print both values.

In [ ]:
# Medium Q39 — Type Casting
value = input("Enter a number: ")
num_int = int(value)
num_float = float(value)
print(num_int, num_float)

### Medium Q40 — Declaration
Declare variables `x = 5` and `y = 2.5`.  
Print their sum.

In [ ]:
# Medium Q40 — Declaration
x = 5
y = 2.5
print(x + y)

### Medium Q41 — Print Statement
Use a single `print()` statement with `\n` to print:

Name: Ali  
Course: Python  
Level: Medium

In [ ]:
# Medium Q41 — Print Statement
print("Name: Ali\nCourse: Python\nLevel: Medium")

### Medium Q42 — Input Statement
Ask the user for their city and country and print them in the format:  
`City - Country`

In [ ]:
# Medium Q42 — Input Statement
city = input("Enter city: ")
country = input("Enter country: ")
print(city + " - " + country)

### Medium Q43 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a list `marks` with values 80, 85, 90 and print each value on a new line.

In [ ]:
# Medium Q43 — Variables (int, string, boolean, float, list, tuple, dict, set)
marks = [80, 85, 90]
for m in marks:
    print(m)

### Medium Q44 — Type Casting
You have the list of strings `["1", "2", "3"]`.  
Convert each value to int and print the new list.

In [ ]:
# Medium Q44 — Type Casting
str_list = ["1", "2", "3"]
int_list = []
for s in str_list:
    int_list.append(int(s))
print(int_list)

### Medium Q45 — Declaration
Declare a dictionary `student` with keys `"name"` and `"age"`.  
Assign any values and print the dictionary.

In [ ]:
# Medium Q45 — Declaration
student = dict(name="Rahul", age=21)
print(student)

### Medium Q46 — Print Statement
Print the sentence:  
`Python programming is fun!`  
using an f-string (formatted string literal).

In [ ]:
# Medium Q46 — Print Statement
message = "Python programming is fun!"
print(f"{message}")

### Medium Q47 — Input Statement
Ask the user for their first name and last name.  
Then print: `Full Name: <first> <last>`.

In [ ]:
# Medium Q47 — Input Statement
first = input("Enter first name: ")
last = input("Enter last name: ")
print("Full Name:", first, last)

### Medium Q48 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a tuple `subjects` with `"Maths"`, `"Science"`, `"English"` and print the second subject.

In [ ]:
# Medium Q48 — Variables (int, string, boolean, float, list, tuple, dict, set)
subjects = ("Maths", "Science", "English")
print(subjects[1])

### Medium Q49 — Type Casting
Take an input from the user for a number.  
Convert it to `int` and `float` and print both values.

In [ ]:
# Medium Q49 — Type Casting
value = input("Enter a number: ")
num_int = int(value)
num_float = float(value)
print(num_int, num_float)

### Medium Q50 — Declaration
Declare variables `x = 5` and `y = 2.5`.  
Print their sum.

In [ ]:
# Medium Q50 — Declaration
x = 5
y = 2.5
print(x + y)

### Medium Q51 — Print Statement
Use a single `print()` statement with `\n` to print:

Name: Ali  
Course: Python  
Level: Medium

In [ ]:
# Medium Q51 — Print Statement
print("Name: Ali\nCourse: Python\nLevel: Medium")

### Medium Q52 — Input Statement
Ask the user for their city and country and print them in the format:  
`City - Country`

In [ ]:
# Medium Q52 — Input Statement
city = input("Enter city: ")
country = input("Enter country: ")
print(city + " - " + country)

### Medium Q53 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a list `marks` with values 80, 85, 90 and print each value on a new line.

In [ ]:
# Medium Q53 — Variables (int, string, boolean, float, list, tuple, dict, set)
marks = [80, 85, 90]
for m in marks:
    print(m)

### Medium Q54 — Type Casting
You have the list of strings `["1", "2", "3"]`.  
Convert each value to int and print the new list.

In [ ]:
# Medium Q54 — Type Casting
str_list = ["1", "2", "3"]
int_list = []
for s in str_list:
    int_list.append(int(s))
print(int_list)

### Medium Q55 — Declaration
Declare a dictionary `student` with keys `"name"` and `"age"`.  
Assign any values and print the dictionary.

In [ ]:
# Medium Q55 — Declaration
student = dict(name="Rahul", age=21)
print(student)

### Medium Q56 — Print Statement
Print the sentence:  
`Python programming is fun!`  
using an f-string (formatted string literal).

In [ ]:
# Medium Q56 — Print Statement
message = "Python programming is fun!"
print(f"{message}")

### Medium Q57 — Input Statement
Ask the user for their first name and last name.  
Then print: `Full Name: <first> <last>`.

In [ ]:
# Medium Q57 — Input Statement
first = input("Enter first name: ")
last = input("Enter last name: ")
print("Full Name:", first, last)

### Medium Q58 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a tuple `subjects` with `"Maths"`, `"Science"`, `"English"` and print the second subject.

In [ ]:
# Medium Q58 — Variables (int, string, boolean, float, list, tuple, dict, set)
subjects = ("Maths", "Science", "English")
print(subjects[1])

### Medium Q59 — Type Casting
Take an input from the user for a number.  
Convert it to `int` and `float` and print both values.

In [ ]:
# Medium Q59 — Type Casting
value = input("Enter a number: ")
num_int = int(value)
num_float = float(value)
print(num_int, num_float)

### Medium Q60 — Declaration
Declare variables `x = 5` and `y = 2.5`.  
Print their sum.

In [ ]:
# Medium Q60 — Declaration
x = 5
y = 2.5
print(x + y)

### Medium Q61 — Print Statement
Use a single `print()` statement with `\n` to print:

Name: Ali  
Course: Python  
Level: Medium

In [ ]:
# Medium Q61 — Print Statement
print("Name: Ali\nCourse: Python\nLevel: Medium")

### Medium Q62 — Input Statement
Ask the user for their city and country and print them in the format:  
`City - Country`

In [ ]:
# Medium Q62 — Input Statement
city = input("Enter city: ")
country = input("Enter country: ")
print(city + " - " + country)

### Medium Q63 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a list `marks` with values 80, 85, 90 and print each value on a new line.

In [ ]:
# Medium Q63 — Variables (int, string, boolean, float, list, tuple, dict, set)
marks = [80, 85, 90]
for m in marks:
    print(m)

### Medium Q64 — Type Casting
You have the list of strings `["1", "2", "3"]`.  
Convert each value to int and print the new list.

In [ ]:
# Medium Q64 — Type Casting
str_list = ["1", "2", "3"]
int_list = []
for s in str_list:
    int_list.append(int(s))
print(int_list)

### Medium Q65 — Declaration
Declare a dictionary `student` with keys `"name"` and `"age"`.  
Assign any values and print the dictionary.

In [ ]:
# Medium Q65 — Declaration
student = dict(name="Rahul", age=21)
print(student)

### Medium Q66 — Print Statement
Print the sentence:  
`Python programming is fun!`  
using an f-string (formatted string literal).

In [ ]:
# Medium Q66 — Print Statement
message = "Python programming is fun!"
print(f"{message}")

### Medium Q67 — Input Statement
Ask the user for their first name and last name.  
Then print: `Full Name: <first> <last>`.

In [ ]:
# Medium Q67 — Input Statement
first = input("Enter first name: ")
last = input("Enter last name: ")
print("Full Name:", first, last)

### Medium Q68 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a tuple `subjects` with `"Maths"`, `"Science"`, `"English"` and print the second subject.

In [ ]:
# Medium Q68 — Variables (int, string, boolean, float, list, tuple, dict, set)
subjects = ("Maths", "Science", "English")
print(subjects[1])

### Medium Q69 — Type Casting
Take an input from the user for a number.  
Convert it to `int` and `float` and print both values.

In [ ]:
# Medium Q69 — Type Casting
value = input("Enter a number: ")
num_int = int(value)
num_float = float(value)
print(num_int, num_float)

### Medium Q70 — Declaration
Declare variables `x = 5` and `y = 2.5`.  
Print their sum.

In [ ]:
# Medium Q70 — Declaration
x = 5
y = 2.5
print(x + y)

### Medium Q71 — Print Statement
Use a single `print()` statement with `\n` to print:

Name: Ali  
Course: Python  
Level: Medium

In [ ]:
# Medium Q71 — Print Statement
print("Name: Ali\nCourse: Python\nLevel: Medium")

### Medium Q72 — Input Statement
Ask the user for their city and country and print them in the format:  
`City - Country`

In [ ]:
# Medium Q72 — Input Statement
city = input("Enter city: ")
country = input("Enter country: ")
print(city + " - " + country)

### Medium Q73 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a list `marks` with values 80, 85, 90 and print each value on a new line.

In [ ]:
# Medium Q73 — Variables (int, string, boolean, float, list, tuple, dict, set)
marks = [80, 85, 90]
for m in marks:
    print(m)

### Medium Q74 — Type Casting
You have the list of strings `["1", "2", "3"]`.  
Convert each value to int and print the new list.

In [ ]:
# Medium Q74 — Type Casting
str_list = ["1", "2", "3"]
int_list = []
for s in str_list:
    int_list.append(int(s))
print(int_list)

### Medium Q75 — Declaration
Declare a dictionary `student` with keys `"name"` and `"age"`.  
Assign any values and print the dictionary.

In [ ]:
# Medium Q75 — Declaration
student = dict(name="Rahul", age=21)
print(student)

### Medium Q76 — Print Statement
Print the sentence:  
`Python programming is fun!`  
using an f-string (formatted string literal).

In [ ]:
# Medium Q76 — Print Statement
message = "Python programming is fun!"
print(f"{message}")

### Medium Q77 — Input Statement
Ask the user for their first name and last name.  
Then print: `Full Name: <first> <last>`.

In [ ]:
# Medium Q77 — Input Statement
first = input("Enter first name: ")
last = input("Enter last name: ")
print("Full Name:", first, last)

### Medium Q78 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a tuple `subjects` with `"Maths"`, `"Science"`, `"English"` and print the second subject.

In [ ]:
# Medium Q78 — Variables (int, string, boolean, float, list, tuple, dict, set)
subjects = ("Maths", "Science", "English")
print(subjects[1])

### Medium Q79 — Type Casting
Take an input from the user for a number.  
Convert it to `int` and `float` and print both values.

In [ ]:
# Medium Q79 — Type Casting
value = input("Enter a number: ")
num_int = int(value)
num_float = float(value)
print(num_int, num_float)

### Medium Q80 — Declaration
Declare variables `x = 5` and `y = 2.5`.  
Print their sum.

In [ ]:
# Medium Q80 — Declaration
x = 5
y = 2.5
print(x + y)

### Medium Q81 — Print Statement
Use a single `print()` statement with `\n` to print:

Name: Ali  
Course: Python  
Level: Medium

In [ ]:
# Medium Q81 — Print Statement
print("Name: Ali\nCourse: Python\nLevel: Medium")

### Medium Q82 — Input Statement
Ask the user for their city and country and print them in the format:  
`City - Country`

In [ ]:
# Medium Q82 — Input Statement
city = input("Enter city: ")
country = input("Enter country: ")
print(city + " - " + country)

### Medium Q83 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a list `marks` with values 80, 85, 90 and print each value on a new line.

In [ ]:
# Medium Q83 — Variables (int, string, boolean, float, list, tuple, dict, set)
marks = [80, 85, 90]
for m in marks:
    print(m)

### Medium Q84 — Type Casting
You have the list of strings `["1", "2", "3"]`.  
Convert each value to int and print the new list.

In [ ]:
# Medium Q84 — Type Casting
str_list = ["1", "2", "3"]
int_list = []
for s in str_list:
    int_list.append(int(s))
print(int_list)

### Medium Q85 — Declaration
Declare a dictionary `student` with keys `"name"` and `"age"`.  
Assign any values and print the dictionary.

In [ ]:
# Medium Q85 — Declaration
student = dict(name="Rahul", age=21)
print(student)

### Medium Q86 — Print Statement
Print the sentence:  
`Python programming is fun!`  
using an f-string (formatted string literal).

In [ ]:
# Medium Q86 — Print Statement
message = "Python programming is fun!"
print(f"{message}")

### Medium Q87 — Input Statement
Ask the user for their first name and last name.  
Then print: `Full Name: <first> <last>`.

In [ ]:
# Medium Q87 — Input Statement
first = input("Enter first name: ")
last = input("Enter last name: ")
print("Full Name:", first, last)

### Medium Q88 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a tuple `subjects` with `"Maths"`, `"Science"`, `"English"` and print the second subject.

In [ ]:
# Medium Q88 — Variables (int, string, boolean, float, list, tuple, dict, set)
subjects = ("Maths", "Science", "English")
print(subjects[1])

### Medium Q89 — Type Casting
Take an input from the user for a number.  
Convert it to `int` and `float` and print both values.

In [ ]:
# Medium Q89 — Type Casting
value = input("Enter a number: ")
num_int = int(value)
num_float = float(value)
print(num_int, num_float)

### Medium Q90 — Declaration
Declare variables `x = 5` and `y = 2.5`.  
Print their sum.

In [ ]:
# Medium Q90 — Declaration
x = 5
y = 2.5
print(x + y)

### Medium Q91 — Print Statement
Use a single `print()` statement with `\n` to print:

Name: Ali  
Course: Python  
Level: Medium

In [ ]:
# Medium Q91 — Print Statement
print("Name: Ali\nCourse: Python\nLevel: Medium")

### Medium Q92 — Input Statement
Ask the user for their city and country and print them in the format:  
`City - Country`

In [ ]:
# Medium Q92 — Input Statement
city = input("Enter city: ")
country = input("Enter country: ")
print(city + " - " + country)

### Medium Q93 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a list `marks` with values 80, 85, 90 and print each value on a new line.

In [ ]:
# Medium Q93 — Variables (int, string, boolean, float, list, tuple, dict, set)
marks = [80, 85, 90]
for m in marks:
    print(m)

### Medium Q94 — Type Casting
You have the list of strings `["1", "2", "3"]`.  
Convert each value to int and print the new list.

In [ ]:
# Medium Q94 — Type Casting
str_list = ["1", "2", "3"]
int_list = []
for s in str_list:
    int_list.append(int(s))
print(int_list)

### Medium Q95 — Declaration
Declare a dictionary `student` with keys `"name"` and `"age"`.  
Assign any values and print the dictionary.

In [ ]:
# Medium Q95 — Declaration
student = dict(name="Rahul", age=21)
print(student)

### Medium Q96 — Print Statement
Print the sentence:  
`Python programming is fun!`  
using an f-string (formatted string literal).

In [ ]:
# Medium Q96 — Print Statement
message = "Python programming is fun!"
print(f"{message}")

### Medium Q97 — Input Statement
Ask the user for their first name and last name.  
Then print: `Full Name: <first> <last>`.

In [ ]:
# Medium Q97 — Input Statement
first = input("Enter first name: ")
last = input("Enter last name: ")
print("Full Name:", first, last)

### Medium Q98 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a tuple `subjects` with `"Maths"`, `"Science"`, `"English"` and print the second subject.

In [ ]:
# Medium Q98 — Variables (int, string, boolean, float, list, tuple, dict, set)
subjects = ("Maths", "Science", "English")
print(subjects[1])

### Medium Q99 — Type Casting
Take an input from the user for a number.  
Convert it to `int` and `float` and print both values.

In [ ]:
# Medium Q99 — Type Casting
value = input("Enter a number: ")
num_int = int(value)
num_float = float(value)
print(num_int, num_float)

### Medium Q100 — Declaration
Declare variables `x = 5` and `y = 2.5`.  
Print their sum.

In [ ]:
# Medium Q100 — Declaration
x = 5
y = 2.5
print(x + y)