### Crazy Hard Q1 — Print Statement
Using a single `print()` and `\n`, print the following table:

Name   Age  City
Rohan  20   Bengaluru
Meera  22   Mumbai
Arjun  21   Delhi

In [ ]:
# Crazy Hard Q1 — Print Statement
table = (
    "Name   Age  City\n"
    "Rohan  20   Bengaluru\n"
    "Meera  22   Mumbai\n"
    "Arjun  21   Delhi"
)
print(table)

### Crazy Hard Q2 — Input Statement
Ask the user for their name, age and city in three separate inputs,  
then print a formatted sentence containing all three.

In [ ]:
# Crazy Hard Q2 — Input Statement
name = input("Enter your name: ")
age = int(input("Enter your age: "))
city = input("Enter your city: ")
print(f"{name} is {age} years old and lives in {city}.")

### Crazy Hard Q3 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a dictionary `student` with keys `"name"`, `"age"` and `"courses"`  
where `"courses"` is a list of three course names.  
Print the student's name and number of courses.

In [ ]:
# Crazy Hard Q3 — Variables (int, string, boolean, float, list, tuple, dict, set)
student = dict(
    name="Aisha",
    age=21,
    courses=["Python", "SQL", "Statistics"]
)
print("Name:", student["name"])
print("Number of courses:", len(student["courses"]))

### Crazy Hard Q4 — Type Casting
You have a list `["100.5", "200.75", "50.25"]`.  
Convert all values to float and print their total.

In [ ]:
# Crazy Hard Q4 — Type Casting
str_values = ["100.5", "200.75", "50.25"]
total = 0.0
for v in str_values:
    total += float(v)
print(total)

### Crazy Hard Q5 — Declaration
Declare variables for an inventory item:  
`item_id` (int), `item_name` (string), `price` (float), `tags` (set of strings).  
Then print a formatted summary using an f-string.

In [ ]:
# Crazy Hard Q5 — Declaration
item_id = 101
item_name = "Headphones"
price = 1999.99
tags = set(["electronics", "sale"])
print(f"Item {item_id}: {item_name}, Price: {price}, Tags: {tags}")

### Crazy Hard Q6 — Print Statement
Print a numbered shopping list using one print statement:

1. Milk
2. Bread
3. Eggs

In [ ]:
# Crazy Hard Q6 — Print Statement
shopping_list = "1. Milk\n2. Bread\n3. Eggs"
print(shopping_list)

### Crazy Hard Q7 — Input Statement
Ask the user for three subject marks (integers),  
compute the total and average, and print both.

In [ ]:
# Crazy Hard Q7 — Input Statement
m1 = int(input("Enter marks for subject 1: "))
m2 = int(input("Enter marks for subject 2: "))
m3 = int(input("Enter marks for subject 3: "))
total = m1 + m2 + m3
avg = total / 3
print("Total:", total)
print("Average:", avg)

### Crazy Hard Q8 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a set of unique cities from the list  
`["Delhi", "Mumbai", "Delhi", "Chennai"]` and print the set.

In [ ]:
# Crazy Hard Q8 — Variables (int, string, boolean, float, list, tuple, dict, set)
cities = ["Delhi", "Mumbai", "Delhi", "Chennai"]
unique_cities = set(cities)
print(unique_cities)

### Crazy Hard Q9 — Type Casting
Take input for a bill amount and GST percentage as strings.  
Convert them to floats, compute final amount after GST and print it.

In [ ]:
# Crazy Hard Q9 — Type Casting
amount_str = input("Enter bill amount: ")
gst_str = input("Enter GST percentage: ")
amount = float(amount_str)
gst = float(gst_str)
gst_amount = amount * gst / 100
final_amount = amount + gst_amount
print("Final amount:", round(final_amount, 2))

### Crazy Hard Q10 — Declaration
Declare variables to represent a bank account:  
`account_number` (string), `balance` (float), `is_active` (boolean).  
Print all details in one line.

In [ ]:
# Crazy Hard Q10 — Declaration
account_number = "SB12345"
balance = 5000.0
is_active = True
print(f"Account {account_number} has balance {balance} and active status {is_active}")

### Crazy Hard Q11 — Print Statement
Using a single `print()` and `\n`, print the following table:

Name   Age  City
Rohan  20   Bengaluru
Meera  22   Mumbai
Arjun  21   Delhi

In [ ]:
# Crazy Hard Q11 — Print Statement
table = (
    "Name   Age  City\n"
    "Rohan  20   Bengaluru\n"
    "Meera  22   Mumbai\n"
    "Arjun  21   Delhi"
)
print(table)

### Crazy Hard Q12 — Input Statement
Ask the user for their name, age and city in three separate inputs,  
then print a formatted sentence containing all three.

In [ ]:
# Crazy Hard Q12 — Input Statement
name = input("Enter your name: ")
age = int(input("Enter your age: "))
city = input("Enter your city: ")
print(f"{name} is {age} years old and lives in {city}.")

### Crazy Hard Q13 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a dictionary `student` with keys `"name"`, `"age"` and `"courses"`  
where `"courses"` is a list of three course names.  
Print the student's name and number of courses.

In [ ]:
# Crazy Hard Q13 — Variables (int, string, boolean, float, list, tuple, dict, set)
student = dict(
    name="Aisha",
    age=21,
    courses=["Python", "SQL", "Statistics"]
)
print("Name:", student["name"])
print("Number of courses:", len(student["courses"]))

### Crazy Hard Q14 — Type Casting
You have a list `["100.5", "200.75", "50.25"]`.  
Convert all values to float and print their total.

In [ ]:
# Crazy Hard Q14 — Type Casting
str_values = ["100.5", "200.75", "50.25"]
total = 0.0
for v in str_values:
    total += float(v)
print(total)

### Crazy Hard Q15 — Declaration
Declare variables for an inventory item:  
`item_id` (int), `item_name` (string), `price` (float), `tags` (set of strings).  
Then print a formatted summary using an f-string.

In [ ]:
# Crazy Hard Q15 — Declaration
item_id = 101
item_name = "Headphones"
price = 1999.99
tags = set(["electronics", "sale"])
print(f"Item {item_id}: {item_name}, Price: {price}, Tags: {tags}")

### Crazy Hard Q16 — Print Statement
Print a numbered shopping list using one print statement:

1. Milk
2. Bread
3. Eggs

In [ ]:
# Crazy Hard Q16 — Print Statement
shopping_list = "1. Milk\n2. Bread\n3. Eggs"
print(shopping_list)

### Crazy Hard Q17 — Input Statement
Ask the user for three subject marks (integers),  
compute the total and average, and print both.

In [ ]:
# Crazy Hard Q17 — Input Statement
m1 = int(input("Enter marks for subject 1: "))
m2 = int(input("Enter marks for subject 2: "))
m3 = int(input("Enter marks for subject 3: "))
total = m1 + m2 + m3
avg = total / 3
print("Total:", total)
print("Average:", avg)

### Crazy Hard Q18 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a set of unique cities from the list  
`["Delhi", "Mumbai", "Delhi", "Chennai"]` and print the set.

In [ ]:
# Crazy Hard Q18 — Variables (int, string, boolean, float, list, tuple, dict, set)
cities = ["Delhi", "Mumbai", "Delhi", "Chennai"]
unique_cities = set(cities)
print(unique_cities)

### Crazy Hard Q19 — Type Casting
Take input for a bill amount and GST percentage as strings.  
Convert them to floats, compute final amount after GST and print it.

In [ ]:
# Crazy Hard Q19 — Type Casting
amount_str = input("Enter bill amount: ")
gst_str = input("Enter GST percentage: ")
amount = float(amount_str)
gst = float(gst_str)
gst_amount = amount * gst / 100
final_amount = amount + gst_amount
print("Final amount:", round(final_amount, 2))

### Crazy Hard Q20 — Declaration
Declare variables to represent a bank account:  
`account_number` (string), `balance` (float), `is_active` (boolean).  
Print all details in one line.

In [ ]:
# Crazy Hard Q20 — Declaration
account_number = "SB12345"
balance = 5000.0
is_active = True
print(f"Account {account_number} has balance {balance} and active status {is_active}")

### Crazy Hard Q21 — Print Statement
Using a single `print()` and `\n`, print the following table:

Name   Age  City
Rohan  20   Bengaluru
Meera  22   Mumbai
Arjun  21   Delhi

In [ ]:
# Crazy Hard Q21 — Print Statement
table = (
    "Name   Age  City\n"
    "Rohan  20   Bengaluru\n"
    "Meera  22   Mumbai\n"
    "Arjun  21   Delhi"
)
print(table)

### Crazy Hard Q22 — Input Statement
Ask the user for their name, age and city in three separate inputs,  
then print a formatted sentence containing all three.

In [ ]:
# Crazy Hard Q22 — Input Statement
name = input("Enter your name: ")
age = int(input("Enter your age: "))
city = input("Enter your city: ")
print(f"{name} is {age} years old and lives in {city}.")

### Crazy Hard Q23 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a dictionary `student` with keys `"name"`, `"age"` and `"courses"`  
where `"courses"` is a list of three course names.  
Print the student's name and number of courses.

In [ ]:
# Crazy Hard Q23 — Variables (int, string, boolean, float, list, tuple, dict, set)
student = dict(
    name="Aisha",
    age=21,
    courses=["Python", "SQL", "Statistics"]
)
print("Name:", student["name"])
print("Number of courses:", len(student["courses"]))

### Crazy Hard Q24 — Type Casting
You have a list `["100.5", "200.75", "50.25"]`.  
Convert all values to float and print their total.

In [ ]:
# Crazy Hard Q24 — Type Casting
str_values = ["100.5", "200.75", "50.25"]
total = 0.0
for v in str_values:
    total += float(v)
print(total)

### Crazy Hard Q25 — Declaration
Declare variables for an inventory item:  
`item_id` (int), `item_name` (string), `price` (float), `tags` (set of strings).  
Then print a formatted summary using an f-string.

In [ ]:
# Crazy Hard Q25 — Declaration
item_id = 101
item_name = "Headphones"
price = 1999.99
tags = set(["electronics", "sale"])
print(f"Item {item_id}: {item_name}, Price: {price}, Tags: {tags}")

### Crazy Hard Q26 — Print Statement
Print a numbered shopping list using one print statement:

1. Milk
2. Bread
3. Eggs

In [ ]:
# Crazy Hard Q26 — Print Statement
shopping_list = "1. Milk\n2. Bread\n3. Eggs"
print(shopping_list)

### Crazy Hard Q27 — Input Statement
Ask the user for three subject marks (integers),  
compute the total and average, and print both.

In [ ]:
# Crazy Hard Q27 — Input Statement
m1 = int(input("Enter marks for subject 1: "))
m2 = int(input("Enter marks for subject 2: "))
m3 = int(input("Enter marks for subject 3: "))
total = m1 + m2 + m3
avg = total / 3
print("Total:", total)
print("Average:", avg)

### Crazy Hard Q28 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a set of unique cities from the list  
`["Delhi", "Mumbai", "Delhi", "Chennai"]` and print the set.

In [ ]:
# Crazy Hard Q28 — Variables (int, string, boolean, float, list, tuple, dict, set)
cities = ["Delhi", "Mumbai", "Delhi", "Chennai"]
unique_cities = set(cities)
print(unique_cities)

### Crazy Hard Q29 — Type Casting
Take input for a bill amount and GST percentage as strings.  
Convert them to floats, compute final amount after GST and print it.

In [ ]:
# Crazy Hard Q29 — Type Casting
amount_str = input("Enter bill amount: ")
gst_str = input("Enter GST percentage: ")
amount = float(amount_str)
gst = float(gst_str)
gst_amount = amount * gst / 100
final_amount = amount + gst_amount
print("Final amount:", round(final_amount, 2))

### Crazy Hard Q30 — Declaration
Declare variables to represent a bank account:  
`account_number` (string), `balance` (float), `is_active` (boolean).  
Print all details in one line.

In [ ]:
# Crazy Hard Q30 — Declaration
account_number = "SB12345"
balance = 5000.0
is_active = True
print(f"Account {account_number} has balance {balance} and active status {is_active}")

### Crazy Hard Q31 — Print Statement
Using a single `print()` and `\n`, print the following table:

Name   Age  City
Rohan  20   Bengaluru
Meera  22   Mumbai
Arjun  21   Delhi

In [ ]:
# Crazy Hard Q31 — Print Statement
table = (
    "Name   Age  City\n"
    "Rohan  20   Bengaluru\n"
    "Meera  22   Mumbai\n"
    "Arjun  21   Delhi"
)
print(table)

### Crazy Hard Q32 — Input Statement
Ask the user for their name, age and city in three separate inputs,  
then print a formatted sentence containing all three.

In [ ]:
# Crazy Hard Q32 — Input Statement
name = input("Enter your name: ")
age = int(input("Enter your age: "))
city = input("Enter your city: ")
print(f"{name} is {age} years old and lives in {city}.")

### Crazy Hard Q33 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a dictionary `student` with keys `"name"`, `"age"` and `"courses"`  
where `"courses"` is a list of three course names.  
Print the student's name and number of courses.

In [ ]:
# Crazy Hard Q33 — Variables (int, string, boolean, float, list, tuple, dict, set)
student = dict(
    name="Aisha",
    age=21,
    courses=["Python", "SQL", "Statistics"]
)
print("Name:", student["name"])
print("Number of courses:", len(student["courses"]))

### Crazy Hard Q34 — Type Casting
You have a list `["100.5", "200.75", "50.25"]`.  
Convert all values to float and print their total.

In [ ]:
# Crazy Hard Q34 — Type Casting
str_values = ["100.5", "200.75", "50.25"]
total = 0.0
for v in str_values:
    total += float(v)
print(total)

### Crazy Hard Q35 — Declaration
Declare variables for an inventory item:  
`item_id` (int), `item_name` (string), `price` (float), `tags` (set of strings).  
Then print a formatted summary using an f-string.

In [ ]:
# Crazy Hard Q35 — Declaration
item_id = 101
item_name = "Headphones"
price = 1999.99
tags = set(["electronics", "sale"])
print(f"Item {item_id}: {item_name}, Price: {price}, Tags: {tags}")

### Crazy Hard Q36 — Print Statement
Print a numbered shopping list using one print statement:

1. Milk
2. Bread
3. Eggs

In [ ]:
# Crazy Hard Q36 — Print Statement
shopping_list = "1. Milk\n2. Bread\n3. Eggs"
print(shopping_list)

### Crazy Hard Q37 — Input Statement
Ask the user for three subject marks (integers),  
compute the total and average, and print both.

In [ ]:
# Crazy Hard Q37 — Input Statement
m1 = int(input("Enter marks for subject 1: "))
m2 = int(input("Enter marks for subject 2: "))
m3 = int(input("Enter marks for subject 3: "))
total = m1 + m2 + m3
avg = total / 3
print("Total:", total)
print("Average:", avg)

### Crazy Hard Q38 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a set of unique cities from the list  
`["Delhi", "Mumbai", "Delhi", "Chennai"]` and print the set.

In [ ]:
# Crazy Hard Q38 — Variables (int, string, boolean, float, list, tuple, dict, set)
cities = ["Delhi", "Mumbai", "Delhi", "Chennai"]
unique_cities = set(cities)
print(unique_cities)

### Crazy Hard Q39 — Type Casting
Take input for a bill amount and GST percentage as strings.  
Convert them to floats, compute final amount after GST and print it.

In [ ]:
# Crazy Hard Q39 — Type Casting
amount_str = input("Enter bill amount: ")
gst_str = input("Enter GST percentage: ")
amount = float(amount_str)
gst = float(gst_str)
gst_amount = amount * gst / 100
final_amount = amount + gst_amount
print("Final amount:", round(final_amount, 2))

### Crazy Hard Q40 — Declaration
Declare variables to represent a bank account:  
`account_number` (string), `balance` (float), `is_active` (boolean).  
Print all details in one line.

In [ ]:
# Crazy Hard Q40 — Declaration
account_number = "SB12345"
balance = 5000.0
is_active = True
print(f"Account {account_number} has balance {balance} and active status {is_active}")

### Crazy Hard Q41 — Print Statement
Using a single `print()` and `\n`, print the following table:

Name   Age  City
Rohan  20   Bengaluru
Meera  22   Mumbai
Arjun  21   Delhi

In [ ]:
# Crazy Hard Q41 — Print Statement
table = (
    "Name   Age  City\n"
    "Rohan  20   Bengaluru\n"
    "Meera  22   Mumbai\n"
    "Arjun  21   Delhi"
)
print(table)

### Crazy Hard Q42 — Input Statement
Ask the user for their name, age and city in three separate inputs,  
then print a formatted sentence containing all three.

In [ ]:
# Crazy Hard Q42 — Input Statement
name = input("Enter your name: ")
age = int(input("Enter your age: "))
city = input("Enter your city: ")
print(f"{name} is {age} years old and lives in {city}.")

### Crazy Hard Q43 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a dictionary `student` with keys `"name"`, `"age"` and `"courses"`  
where `"courses"` is a list of three course names.  
Print the student's name and number of courses.

In [ ]:
# Crazy Hard Q43 — Variables (int, string, boolean, float, list, tuple, dict, set)
student = dict(
    name="Aisha",
    age=21,
    courses=["Python", "SQL", "Statistics"]
)
print("Name:", student["name"])
print("Number of courses:", len(student["courses"]))

### Crazy Hard Q44 — Type Casting
You have a list `["100.5", "200.75", "50.25"]`.  
Convert all values to float and print their total.

In [ ]:
# Crazy Hard Q44 — Type Casting
str_values = ["100.5", "200.75", "50.25"]
total = 0.0
for v in str_values:
    total += float(v)
print(total)

### Crazy Hard Q45 — Declaration
Declare variables for an inventory item:  
`item_id` (int), `item_name` (string), `price` (float), `tags` (set of strings).  
Then print a formatted summary using an f-string.

In [ ]:
# Crazy Hard Q45 — Declaration
item_id = 101
item_name = "Headphones"
price = 1999.99
tags = set(["electronics", "sale"])
print(f"Item {item_id}: {item_name}, Price: {price}, Tags: {tags}")

### Crazy Hard Q46 — Print Statement
Print a numbered shopping list using one print statement:

1. Milk
2. Bread
3. Eggs

In [ ]:
# Crazy Hard Q46 — Print Statement
shopping_list = "1. Milk\n2. Bread\n3. Eggs"
print(shopping_list)

### Crazy Hard Q47 — Input Statement
Ask the user for three subject marks (integers),  
compute the total and average, and print both.

In [ ]:
# Crazy Hard Q47 — Input Statement
m1 = int(input("Enter marks for subject 1: "))
m2 = int(input("Enter marks for subject 2: "))
m3 = int(input("Enter marks for subject 3: "))
total = m1 + m2 + m3
avg = total / 3
print("Total:", total)
print("Average:", avg)

### Crazy Hard Q48 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a set of unique cities from the list  
`["Delhi", "Mumbai", "Delhi", "Chennai"]` and print the set.

In [ ]:
# Crazy Hard Q48 — Variables (int, string, boolean, float, list, tuple, dict, set)
cities = ["Delhi", "Mumbai", "Delhi", "Chennai"]
unique_cities = set(cities)
print(unique_cities)

### Crazy Hard Q49 — Type Casting
Take input for a bill amount and GST percentage as strings.  
Convert them to floats, compute final amount after GST and print it.

In [ ]:
# Crazy Hard Q49 — Type Casting
amount_str = input("Enter bill amount: ")
gst_str = input("Enter GST percentage: ")
amount = float(amount_str)
gst = float(gst_str)
gst_amount = amount * gst / 100
final_amount = amount + gst_amount
print("Final amount:", round(final_amount, 2))

### Crazy Hard Q50 — Declaration
Declare variables to represent a bank account:  
`account_number` (string), `balance` (float), `is_active` (boolean).  
Print all details in one line.

In [ ]:
# Crazy Hard Q50 — Declaration
account_number = "SB12345"
balance = 5000.0
is_active = True
print(f"Account {account_number} has balance {balance} and active status {is_active}")

### Crazy Hard Q51 — Print Statement
Using a single `print()` and `\n`, print the following table:

Name   Age  City
Rohan  20   Bengaluru
Meera  22   Mumbai
Arjun  21   Delhi

In [ ]:
# Crazy Hard Q51 — Print Statement
table = (
    "Name   Age  City\n"
    "Rohan  20   Bengaluru\n"
    "Meera  22   Mumbai\n"
    "Arjun  21   Delhi"
)
print(table)

### Crazy Hard Q52 — Input Statement
Ask the user for their name, age and city in three separate inputs,  
then print a formatted sentence containing all three.

In [ ]:
# Crazy Hard Q52 — Input Statement
name = input("Enter your name: ")
age = int(input("Enter your age: "))
city = input("Enter your city: ")
print(f"{name} is {age} years old and lives in {city}.")

### Crazy Hard Q53 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a dictionary `student` with keys `"name"`, `"age"` and `"courses"`  
where `"courses"` is a list of three course names.  
Print the student's name and number of courses.

In [ ]:
# Crazy Hard Q53 — Variables (int, string, boolean, float, list, tuple, dict, set)
student = dict(
    name="Aisha",
    age=21,
    courses=["Python", "SQL", "Statistics"]
)
print("Name:", student["name"])
print("Number of courses:", len(student["courses"]))

### Crazy Hard Q54 — Type Casting
You have a list `["100.5", "200.75", "50.25"]`.  
Convert all values to float and print their total.

In [ ]:
# Crazy Hard Q54 — Type Casting
str_values = ["100.5", "200.75", "50.25"]
total = 0.0
for v in str_values:
    total += float(v)
print(total)

### Crazy Hard Q55 — Declaration
Declare variables for an inventory item:  
`item_id` (int), `item_name` (string), `price` (float), `tags` (set of strings).  
Then print a formatted summary using an f-string.

In [ ]:
# Crazy Hard Q55 — Declaration
item_id = 101
item_name = "Headphones"
price = 1999.99
tags = set(["electronics", "sale"])
print(f"Item {item_id}: {item_name}, Price: {price}, Tags: {tags}")

### Crazy Hard Q56 — Print Statement
Print a numbered shopping list using one print statement:

1. Milk
2. Bread
3. Eggs

In [ ]:
# Crazy Hard Q56 — Print Statement
shopping_list = "1. Milk\n2. Bread\n3. Eggs"
print(shopping_list)

### Crazy Hard Q57 — Input Statement
Ask the user for three subject marks (integers),  
compute the total and average, and print both.

In [ ]:
# Crazy Hard Q57 — Input Statement
m1 = int(input("Enter marks for subject 1: "))
m2 = int(input("Enter marks for subject 2: "))
m3 = int(input("Enter marks for subject 3: "))
total = m1 + m2 + m3
avg = total / 3
print("Total:", total)
print("Average:", avg)

### Crazy Hard Q58 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a set of unique cities from the list  
`["Delhi", "Mumbai", "Delhi", "Chennai"]` and print the set.

In [ ]:
# Crazy Hard Q58 — Variables (int, string, boolean, float, list, tuple, dict, set)
cities = ["Delhi", "Mumbai", "Delhi", "Chennai"]
unique_cities = set(cities)
print(unique_cities)

### Crazy Hard Q59 — Type Casting
Take input for a bill amount and GST percentage as strings.  
Convert them to floats, compute final amount after GST and print it.

In [ ]:
# Crazy Hard Q59 — Type Casting
amount_str = input("Enter bill amount: ")
gst_str = input("Enter GST percentage: ")
amount = float(amount_str)
gst = float(gst_str)
gst_amount = amount * gst / 100
final_amount = amount + gst_amount
print("Final amount:", round(final_amount, 2))

### Crazy Hard Q60 — Declaration
Declare variables to represent a bank account:  
`account_number` (string), `balance` (float), `is_active` (boolean).  
Print all details in one line.

In [ ]:
# Crazy Hard Q60 — Declaration
account_number = "SB12345"
balance = 5000.0
is_active = True
print(f"Account {account_number} has balance {balance} and active status {is_active}")

### Crazy Hard Q61 — Print Statement
Using a single `print()` and `\n`, print the following table:

Name   Age  City
Rohan  20   Bengaluru
Meera  22   Mumbai
Arjun  21   Delhi

In [ ]:
# Crazy Hard Q61 — Print Statement
table = (
    "Name   Age  City\n"
    "Rohan  20   Bengaluru\n"
    "Meera  22   Mumbai\n"
    "Arjun  21   Delhi"
)
print(table)

### Crazy Hard Q62 — Input Statement
Ask the user for their name, age and city in three separate inputs,  
then print a formatted sentence containing all three.

In [ ]:
# Crazy Hard Q62 — Input Statement
name = input("Enter your name: ")
age = int(input("Enter your age: "))
city = input("Enter your city: ")
print(f"{name} is {age} years old and lives in {city}.")

### Crazy Hard Q63 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a dictionary `student` with keys `"name"`, `"age"` and `"courses"`  
where `"courses"` is a list of three course names.  
Print the student's name and number of courses.

In [ ]:
# Crazy Hard Q63 — Variables (int, string, boolean, float, list, tuple, dict, set)
student = dict(
    name="Aisha",
    age=21,
    courses=["Python", "SQL", "Statistics"]
)
print("Name:", student["name"])
print("Number of courses:", len(student["courses"]))

### Crazy Hard Q64 — Type Casting
You have a list `["100.5", "200.75", "50.25"]`.  
Convert all values to float and print their total.

In [ ]:
# Crazy Hard Q64 — Type Casting
str_values = ["100.5", "200.75", "50.25"]
total = 0.0
for v in str_values:
    total += float(v)
print(total)

### Crazy Hard Q65 — Declaration
Declare variables for an inventory item:  
`item_id` (int), `item_name` (string), `price` (float), `tags` (set of strings).  
Then print a formatted summary using an f-string.

In [ ]:
# Crazy Hard Q65 — Declaration
item_id = 101
item_name = "Headphones"
price = 1999.99
tags = set(["electronics", "sale"])
print(f"Item {item_id}: {item_name}, Price: {price}, Tags: {tags}")

### Crazy Hard Q66 — Print Statement
Print a numbered shopping list using one print statement:

1. Milk
2. Bread
3. Eggs

In [ ]:
# Crazy Hard Q66 — Print Statement
shopping_list = "1. Milk\n2. Bread\n3. Eggs"
print(shopping_list)

### Crazy Hard Q67 — Input Statement
Ask the user for three subject marks (integers),  
compute the total and average, and print both.

In [ ]:
# Crazy Hard Q67 — Input Statement
m1 = int(input("Enter marks for subject 1: "))
m2 = int(input("Enter marks for subject 2: "))
m3 = int(input("Enter marks for subject 3: "))
total = m1 + m2 + m3
avg = total / 3
print("Total:", total)
print("Average:", avg)

### Crazy Hard Q68 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a set of unique cities from the list  
`["Delhi", "Mumbai", "Delhi", "Chennai"]` and print the set.

In [ ]:
# Crazy Hard Q68 — Variables (int, string, boolean, float, list, tuple, dict, set)
cities = ["Delhi", "Mumbai", "Delhi", "Chennai"]
unique_cities = set(cities)
print(unique_cities)

### Crazy Hard Q69 — Type Casting
Take input for a bill amount and GST percentage as strings.  
Convert them to floats, compute final amount after GST and print it.

In [ ]:
# Crazy Hard Q69 — Type Casting
amount_str = input("Enter bill amount: ")
gst_str = input("Enter GST percentage: ")
amount = float(amount_str)
gst = float(gst_str)
gst_amount = amount * gst / 100
final_amount = amount + gst_amount
print("Final amount:", round(final_amount, 2))

### Crazy Hard Q70 — Declaration
Declare variables to represent a bank account:  
`account_number` (string), `balance` (float), `is_active` (boolean).  
Print all details in one line.

In [ ]:
# Crazy Hard Q70 — Declaration
account_number = "SB12345"
balance = 5000.0
is_active = True
print(f"Account {account_number} has balance {balance} and active status {is_active}")

### Crazy Hard Q71 — Print Statement
Using a single `print()` and `\n`, print the following table:

Name   Age  City
Rohan  20   Bengaluru
Meera  22   Mumbai
Arjun  21   Delhi

In [ ]:
# Crazy Hard Q71 — Print Statement
table = (
    "Name   Age  City\n"
    "Rohan  20   Bengaluru\n"
    "Meera  22   Mumbai\n"
    "Arjun  21   Delhi"
)
print(table)

### Crazy Hard Q72 — Input Statement
Ask the user for their name, age and city in three separate inputs,  
then print a formatted sentence containing all three.

In [ ]:
# Crazy Hard Q72 — Input Statement
name = input("Enter your name: ")
age = int(input("Enter your age: "))
city = input("Enter your city: ")
print(f"{name} is {age} years old and lives in {city}.")

### Crazy Hard Q73 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a dictionary `student` with keys `"name"`, `"age"` and `"courses"`  
where `"courses"` is a list of three course names.  
Print the student's name and number of courses.

In [ ]:
# Crazy Hard Q73 — Variables (int, string, boolean, float, list, tuple, dict, set)
student = dict(
    name="Aisha",
    age=21,
    courses=["Python", "SQL", "Statistics"]
)
print("Name:", student["name"])
print("Number of courses:", len(student["courses"]))

### Crazy Hard Q74 — Type Casting
You have a list `["100.5", "200.75", "50.25"]`.  
Convert all values to float and print their total.

In [ ]:
# Crazy Hard Q74 — Type Casting
str_values = ["100.5", "200.75", "50.25"]
total = 0.0
for v in str_values:
    total += float(v)
print(total)

### Crazy Hard Q75 — Declaration
Declare variables for an inventory item:  
`item_id` (int), `item_name` (string), `price` (float), `tags` (set of strings).  
Then print a formatted summary using an f-string.

In [ ]:
# Crazy Hard Q75 — Declaration
item_id = 101
item_name = "Headphones"
price = 1999.99
tags = set(["electronics", "sale"])
print(f"Item {item_id}: {item_name}, Price: {price}, Tags: {tags}")

### Crazy Hard Q76 — Print Statement
Print a numbered shopping list using one print statement:

1. Milk
2. Bread
3. Eggs

In [ ]:
# Crazy Hard Q76 — Print Statement
shopping_list = "1. Milk\n2. Bread\n3. Eggs"
print(shopping_list)

### Crazy Hard Q77 — Input Statement
Ask the user for three subject marks (integers),  
compute the total and average, and print both.

In [ ]:
# Crazy Hard Q77 — Input Statement
m1 = int(input("Enter marks for subject 1: "))
m2 = int(input("Enter marks for subject 2: "))
m3 = int(input("Enter marks for subject 3: "))
total = m1 + m2 + m3
avg = total / 3
print("Total:", total)
print("Average:", avg)

### Crazy Hard Q78 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a set of unique cities from the list  
`["Delhi", "Mumbai", "Delhi", "Chennai"]` and print the set.

In [ ]:
# Crazy Hard Q78 — Variables (int, string, boolean, float, list, tuple, dict, set)
cities = ["Delhi", "Mumbai", "Delhi", "Chennai"]
unique_cities = set(cities)
print(unique_cities)

### Crazy Hard Q79 — Type Casting
Take input for a bill amount and GST percentage as strings.  
Convert them to floats, compute final amount after GST and print it.

In [ ]:
# Crazy Hard Q79 — Type Casting
amount_str = input("Enter bill amount: ")
gst_str = input("Enter GST percentage: ")
amount = float(amount_str)
gst = float(gst_str)
gst_amount = amount * gst / 100
final_amount = amount + gst_amount
print("Final amount:", round(final_amount, 2))

### Crazy Hard Q80 — Declaration
Declare variables to represent a bank account:  
`account_number` (string), `balance` (float), `is_active` (boolean).  
Print all details in one line.

In [ ]:
# Crazy Hard Q80 — Declaration
account_number = "SB12345"
balance = 5000.0
is_active = True
print(f"Account {account_number} has balance {balance} and active status {is_active}")

### Crazy Hard Q81 — Print Statement
Using a single `print()` and `\n`, print the following table:

Name   Age  City
Rohan  20   Bengaluru
Meera  22   Mumbai
Arjun  21   Delhi

In [ ]:
# Crazy Hard Q81 — Print Statement
table = (
    "Name   Age  City\n"
    "Rohan  20   Bengaluru\n"
    "Meera  22   Mumbai\n"
    "Arjun  21   Delhi"
)
print(table)

### Crazy Hard Q82 — Input Statement
Ask the user for their name, age and city in three separate inputs,  
then print a formatted sentence containing all three.

In [ ]:
# Crazy Hard Q82 — Input Statement
name = input("Enter your name: ")
age = int(input("Enter your age: "))
city = input("Enter your city: ")
print(f"{name} is {age} years old and lives in {city}.")

### Crazy Hard Q83 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a dictionary `student` with keys `"name"`, `"age"` and `"courses"`  
where `"courses"` is a list of three course names.  
Print the student's name and number of courses.

In [ ]:
# Crazy Hard Q83 — Variables (int, string, boolean, float, list, tuple, dict, set)
student = dict(
    name="Aisha",
    age=21,
    courses=["Python", "SQL", "Statistics"]
)
print("Name:", student["name"])
print("Number of courses:", len(student["courses"]))

### Crazy Hard Q84 — Type Casting
You have a list `["100.5", "200.75", "50.25"]`.  
Convert all values to float and print their total.

In [ ]:
# Crazy Hard Q84 — Type Casting
str_values = ["100.5", "200.75", "50.25"]
total = 0.0
for v in str_values:
    total += float(v)
print(total)

### Crazy Hard Q85 — Declaration
Declare variables for an inventory item:  
`item_id` (int), `item_name` (string), `price` (float), `tags` (set of strings).  
Then print a formatted summary using an f-string.

In [ ]:
# Crazy Hard Q85 — Declaration
item_id = 101
item_name = "Headphones"
price = 1999.99
tags = set(["electronics", "sale"])
print(f"Item {item_id}: {item_name}, Price: {price}, Tags: {tags}")

### Crazy Hard Q86 — Print Statement
Print a numbered shopping list using one print statement:

1. Milk
2. Bread
3. Eggs

In [ ]:
# Crazy Hard Q86 — Print Statement
shopping_list = "1. Milk\n2. Bread\n3. Eggs"
print(shopping_list)

### Crazy Hard Q87 — Input Statement
Ask the user for three subject marks (integers),  
compute the total and average, and print both.

In [ ]:
# Crazy Hard Q87 — Input Statement
m1 = int(input("Enter marks for subject 1: "))
m2 = int(input("Enter marks for subject 2: "))
m3 = int(input("Enter marks for subject 3: "))
total = m1 + m2 + m3
avg = total / 3
print("Total:", total)
print("Average:", avg)

### Crazy Hard Q88 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a set of unique cities from the list  
`["Delhi", "Mumbai", "Delhi", "Chennai"]` and print the set.

In [ ]:
# Crazy Hard Q88 — Variables (int, string, boolean, float, list, tuple, dict, set)
cities = ["Delhi", "Mumbai", "Delhi", "Chennai"]
unique_cities = set(cities)
print(unique_cities)

### Crazy Hard Q89 — Type Casting
Take input for a bill amount and GST percentage as strings.  
Convert them to floats, compute final amount after GST and print it.

In [ ]:
# Crazy Hard Q89 — Type Casting
amount_str = input("Enter bill amount: ")
gst_str = input("Enter GST percentage: ")
amount = float(amount_str)
gst = float(gst_str)
gst_amount = amount * gst / 100
final_amount = amount + gst_amount
print("Final amount:", round(final_amount, 2))

### Crazy Hard Q90 — Declaration
Declare variables to represent a bank account:  
`account_number` (string), `balance` (float), `is_active` (boolean).  
Print all details in one line.

In [ ]:
# Crazy Hard Q90 — Declaration
account_number = "SB12345"
balance = 5000.0
is_active = True
print(f"Account {account_number} has balance {balance} and active status {is_active}")

### Crazy Hard Q91 — Print Statement
Using a single `print()` and `\n`, print the following table:

Name   Age  City
Rohan  20   Bengaluru
Meera  22   Mumbai
Arjun  21   Delhi

In [ ]:
# Crazy Hard Q91 — Print Statement
table = (
    "Name   Age  City\n"
    "Rohan  20   Bengaluru\n"
    "Meera  22   Mumbai\n"
    "Arjun  21   Delhi"
)
print(table)

### Crazy Hard Q92 — Input Statement
Ask the user for their name, age and city in three separate inputs,  
then print a formatted sentence containing all three.

In [ ]:
# Crazy Hard Q92 — Input Statement
name = input("Enter your name: ")
age = int(input("Enter your age: "))
city = input("Enter your city: ")
print(f"{name} is {age} years old and lives in {city}.")

### Crazy Hard Q93 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a dictionary `student` with keys `"name"`, `"age"` and `"courses"`  
where `"courses"` is a list of three course names.  
Print the student's name and number of courses.

In [ ]:
# Crazy Hard Q93 — Variables (int, string, boolean, float, list, tuple, dict, set)
student = dict(
    name="Aisha",
    age=21,
    courses=["Python", "SQL", "Statistics"]
)
print("Name:", student["name"])
print("Number of courses:", len(student["courses"]))

### Crazy Hard Q94 — Type Casting
You have a list `["100.5", "200.75", "50.25"]`.  
Convert all values to float and print their total.

In [ ]:
# Crazy Hard Q94 — Type Casting
str_values = ["100.5", "200.75", "50.25"]
total = 0.0
for v in str_values:
    total += float(v)
print(total)

### Crazy Hard Q95 — Declaration
Declare variables for an inventory item:  
`item_id` (int), `item_name` (string), `price` (float), `tags` (set of strings).  
Then print a formatted summary using an f-string.

In [ ]:
# Crazy Hard Q95 — Declaration
item_id = 101
item_name = "Headphones"
price = 1999.99
tags = set(["electronics", "sale"])
print(f"Item {item_id}: {item_name}, Price: {price}, Tags: {tags}")

### Crazy Hard Q96 — Print Statement
Print a numbered shopping list using one print statement:

1. Milk
2. Bread
3. Eggs

In [ ]:
# Crazy Hard Q96 — Print Statement
shopping_list = "1. Milk\n2. Bread\n3. Eggs"
print(shopping_list)

### Crazy Hard Q97 — Input Statement
Ask the user for three subject marks (integers),  
compute the total and average, and print both.

In [ ]:
# Crazy Hard Q97 — Input Statement
m1 = int(input("Enter marks for subject 1: "))
m2 = int(input("Enter marks for subject 2: "))
m3 = int(input("Enter marks for subject 3: "))
total = m1 + m2 + m3
avg = total / 3
print("Total:", total)
print("Average:", avg)

### Crazy Hard Q98 — Variables (int, string, boolean, float, list, tuple, dict, set)
Create a set of unique cities from the list  
`["Delhi", "Mumbai", "Delhi", "Chennai"]` and print the set.

In [ ]:
# Crazy Hard Q98 — Variables (int, string, boolean, float, list, tuple, dict, set)
cities = ["Delhi", "Mumbai", "Delhi", "Chennai"]
unique_cities = set(cities)
print(unique_cities)

### Crazy Hard Q99 — Type Casting
Take input for a bill amount and GST percentage as strings.  
Convert them to floats, compute final amount after GST and print it.

In [ ]:
# Crazy Hard Q99 — Type Casting
amount_str = input("Enter bill amount: ")
gst_str = input("Enter GST percentage: ")
amount = float(amount_str)
gst = float(gst_str)
gst_amount = amount * gst / 100
final_amount = amount + gst_amount
print("Final amount:", round(final_amount, 2))

### Crazy Hard Q100 — Declaration
Declare variables to represent a bank account:  
`account_number` (string), `balance` (float), `is_active` (boolean).  
Print all details in one line.

In [ ]:
# Crazy Hard Q100 — Declaration
account_number = "SB12345"
balance = 5000.0
is_active = True
print(f"Account {account_number} has balance {balance} and active status {is_active}")